@import url('https://fonts.googleapis.com/css?family=Lobster|Raleway');


html, body {
  height: 100%;
}

.App {
  height: 100%;
}

body {
  display:flex;
  flex-direction:column;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  
}

.wrapper{
  flex: 1 0 auto;
}
h4{
  display: inline-block;
}

.top-bar{
  height: 30%;
  width: 100%;
  margin-top: 0%;
  text-align: left;
  position: fixed;
  z-index: 1000;
}

.songify{
  vertical-align: top;
  z-index: 1000;
  position: relative;
  top: 10px;
  font-family: 'Lobster', cursive;
  font-size: 18pt;
}

.player{
  width: 100%;
  position: fixed;
  bottom:0;
}

audio{
  vertical-align: bottom;
}

.logo{
  max-width: 100px;
  max-height: 40px;
  display: inline-block; 
  margin-left: 10px;
}

.play{
  max-width: 40px;
  max-height: 40px;
  background-color: transparent;
  border: none;
  text-align: center;
}

#songs{
  width:70%;
}

.des{
  max-width:30%;
  margin-left:35%;
}

.photo{
   max-width:43%;
}

.changer{
  width: 5%;
  background-color: transparent;
  border: none;

}
.changer:focus{
  outline: none;
}

 a{
  text-decoration: none;
  color: lightgray;
  text-decoration-line: none;
  text-decoration-style: none;
  display: inline-block;
}

.fave{
  max-width:40px;
  max-height:40px;
  background-color: transparent;
  border: none;
}

a:hover{
  color: lightgray;

}

a:visited {
  text-decoration: none;
  color: lightgray;
  text-decoration-line: none;
  text-decoration-style: none;
  display: inline-block;
}

.homebody{
  height:500px;
  width:130%;
  background-size: cover;
  margin-top: -20px;
  margin-left:-15%;
}
.homebody p {
  width:100%;
  height:100%;
  margin:0px;
  padding:0px;
    background: -webkit-linear-gradient(blueviolet,hotpink,chartreuse); /* Safari 5.1-6.0 */
    background: -o-linear-gradient(blueviolet, hotpink,chartreuse); /* Opera 11.1-12.0 */ 
    background: -moz-linear-gradient(blueviolet,hotpink,chartreuse); /* Firefox 3.6-15 */
    background: linear-gradient(blueviolet,hotpink,chartreuse ); /* Standard syntax */
    opacity:.3;
}

.allSongs button {
  background:transparent;
  border:none;
  position:relative;
  vertical-align: top;
  text-align: center;
}

.allSongs button {
  width:98px;
  height:98px;
    position:relative;
  top:-120px;
  left:0px;
}

.allSongs button img {
  width:100px;
  height:100px;
  position:relative;
}

.songTitle {
  margin-top:0px;
  position:relative;
  top:-100px;
}

.songify{
  margin-left: 10px;
}

.mnLogo{
  margin-top: 10%;
  z-index: 1002;
  opacity: 1;
}
.nextprev{
  max-height: 20px;
  margin-bottom: 10%;
  border:none;
}

.allSongs{
  width:101px;
  height:190px;
  overflow:hidden;
  display:inline-block;
  margin-right: 1%;
  margin-top: 3%;
  vertical-align: top;
}

.thumbnail{
  max-height: 100px;
  max-width: 100px;
  background-color: none;
  border: none;
}

.songList{
  padding-bottom: 55px;
  display:block;
}