body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  
}

h4{
  display: inline-block;
}

.top-bar{
  height: 30%;
  width: 100%;
  margin-top: 0%;
  text-align: left;
  position: relative;
}

.player{
  background-color:teal;
  height: 30%;
  width: 100%;
  margin-top: 40%;
  text-align: left;
}

.logo{
  max-width: 100px;
  max-height: 40px;
  display: inline-block; 
}

.play{
  max-width: 40px;
  max-height: 40px;
}

#song{
  width:100%;
}

.des{
  max-width:30%;
  margin-left:35%;
}

.photo{
   max-width:43%;
}

.changer{
  max-width: 10%;

}

 a{
  text-decoration: none;
  color: lightgray;
  text-decoration-line: none;
  text-decoration-style: none;
  display: inline-block;
}

a:visited {
  text-decoration: none;
  color: lightgray;
  text-decoration-line: none;
  text-decoration-style: none;
  display: inline-block;
}